
.rateWrapper {
  background-color: rgb(256, 256, 256);
  display: flex;
  transform: translateX(-15px);
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px 15px;
  border: 2px solid rgb(243, 244, 245);
  color: rgb(0, 117, 235);
  margin: 0 auto;
  font-size: 16px;
}

.rate {
  margin-left: 10px;
}
