
.container {
  padding: 30px 20px 35px;
  box-sizing: border-box;
  background-color: rgb(243, 244, 245);
}

.container:first-child {
  background-color: rgb(256, 256, 256);

}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
