
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legend {
  display: block;
  text-align: left;
  color: rgb(120, 120, 120);
  padding: 5px 0;
  font-size: 14px;
  margin-right: 8px;
}

.invalid {
  color: rgb(235, 0, 141);
}
