.app {
  max-width: 415px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(256, 256, 256);
}

.ccy {
  padding: 30px 20px 35px;
  box-sizing: border-box;
  background-color: rgb(256, 256, 256);
}

.ccy2 {
  background-color: rgb(243, 244, 245);
}

.ccy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 10px;
}

.title {
  flex-grow: 1;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 0 50px;
}

.ccy-list {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 36px;
  margin-right: 5px;
  border: 0;
  background-color: transparent;
  outline: 0;
}

.balance {
  display: block;
  text-align: left;
  color: rgb(120, 120, 120);
  padding: 10px 0;
}

.ccy-value {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: right;
  font-size: 36px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
}

.ccy-switch-wrapper {
  display: flex;
  transform: translateY(50%);
  text-align: center;
  padding: 0 20px;
}

.ccy-switch {
  background-color: rgb(256, 256, 256);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 2px solid rgb(243, 244, 245);
  color: rgb(0, 117, 235);
}

.ccy-rate {
  background-color: rgb(256, 256, 256);
  display: flex;
  transform: translateX(-15px);
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px 15px;
  border: 2px solid rgb(243, 244, 245);
  color: rgb(0, 117, 235);
  margin: 0 auto;
  font-size: 18px;
}

.ccy-rate-value {
  margin-left: 10px;
}

.exchange-btn-wrapper {
  text-align: center;
  background-color: rgb(243, 244, 245);
  padding: 40px 0;
}

.exchange-btn {
  background-color: rgb(235, 0, 141);
  box-shadow: 0px 5px 5px 0px rgb(235, 0, 141, 0.3);
  color: rgb(256, 256, 256);
  font-size: 18px;
  font-weight: 600;
  padding: 20px 135px;
  border-radius: 35px;
  outline: none;
}

.credits {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  padding: 20px;
}
